.git
.gitignore
**/data
**/__pycache__
**/.github
**/node_modules
**/src
**/public
**/.eslin*
**/cache
**/docke*
**/manualbuild.sh
Dockerfile
**/packa*
**/.env
**/record
**/medicalrecords
**/yarn.*
**/readme.md
**/hltenv
