{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}Nursing{% endblock %}</title>
        <link href="{% static 'nursing/nursing_favicon.ico' %}" rel="icon" type="image/x-icon">
        <!-- Detect Browser Name 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bowser/1.9.4/bowser.min.js"></script>

        <script src="https://kit.fontawesome.com/d26bb3691d.js" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!-- Popper JS 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <!-- Latest compiled JavaScript
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        
     -->    
     <link href="../../static/nursing/nursing_bootstrap.css" rel="stylesheet" type="text/css">
     <link href="../../static/nursing/nursing_styles.css" rel="stylesheet" type="text/css">

     <!-- <script src="../../nursing_react/build/index.html"></script> -->
        {% block script %}
        {% endblock %}
    </head>
    <body>
        <div class="banner">
            <img class="healthimg" src="../../static/nursing/nursing_favicon.ico" alt="health image" width="100">
        </div>
        <div class="body">
            {% block body %}
            
            {% endblock %}
        </div>
        <footer class="text-center text-white" style="background-color: rgba(0, 0, 0, 0.4);">
            <!-- Grid container -->
            <!-- <div class="container p-4"></div> -->
            <!-- Grid container -->
          
            <!-- Copyright -->
            <div>
              <p class="text-white">
                CATHA Enterprises</p>
              © 2023 Copyright - - 
              <a title="Send an Email" class="text-white" href = "mailto: gottigjavier@gmail.com">Email</a>
            </div>
            <!-- Copyright -->
          </footer>
    </body>
</html>