.task-title{
    background-color: rgb(115, 166, 214);
}

.task-title-text{
    margin-bottom: .2rem;
}

@media screen and (min-width: 768px) {
    .task-title-text{
        font-size: 1.75rem;
    }
}

@media screen and (max-width: 767px) {
    .task-title-text{
        font-size: .8rem;
    }
}


.tasks-col{
    overflow: auto; 
    height: 200vh;
}


.tlshdw {
    box-shadow: 0 8px 16px 0 rgba(253, 253, 253, 0.2), 0 6px 20px 0 rgba(128, 128, 128, 0.699);
}

.tlshdw:hover {
    box-shadow: 0 12px 16px 0 rgba(182, 182, 182, 0.24), 0 17px 50px 0 rgba(141, 119, 119, 0.19);
}